@forward './class';
@forward './root';
@use './variables' as v;

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap; // Add this line
}
@font-face {
    font-family: 'Istok_Web';
    src: url('../fonts/IstokWeb-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    color: var(--p-color);
    background-color: var(--bg-1);
}
h1 {
    color: var(--title-color);
    font-size: v.$xl;
    font-weight: 700;
    list-style: 1.24;
}
h2 {
    color: var(--h2-color);
    font-size: calc(v.$regular * 2.25);
    font-weight: 700;
    line-height: 1.12;
}
h3 {
    color: var(--title-color);
    font-size: v.$m;
    font-weight: 700;
    line-height: 1.20;
}
p {
    line-height: 1.65;
    &.medium {
        color: var(--p-m-color);
        font-weight: 500;
    }
    &.semi-bold {
        color: var(--title-color);
        font-weight: 600;
    }
}
  