@forward './class';
@forward './root';
@forward './fonts';
@use './variables' as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    color: var(--p-color);
    background-color: var(--bg-1);
    overflow-x: hidden;
}
h1 {
    color: var(--title-color);
    font-size: var(--TITLE-SIZE);
    font-weight: 700;
    list-style: 1.24;
}
h2 {
    color: var(--h2-color);
    font-size: calc(v.$regular * 2.25);
    font-weight: 700;
    line-height: 1.12;
    &.center {
        text-align: center;
    }
}
h3 {
    color: var(--title-color);
    font-size: v.$m;
    font-weight: 700;
    line-height: 1.5;
}
p {
    line-height: 1.65;
    &.medium {
        color: var(--p-m-color);
        font-weight: 500;
    }
    &.semibold {
        color: var(--title-color);
        font-weight: 600;
    }
    &.small {
        font-size: v.$s;
        font-weight: 300;
    }
}
a {
    text-decoration: none;
    color: var(--p-color);
    cursor: pointer;
    &.simple-link:hover {
        text-decoration: underline;
    }
}
  