@use './variables' as v;

@mixin respond-to($breakpoint) {
    @if $breakpoint == 'mobile' {
        @media (max-width: 521px) { @content; }
    }
    @if $breakpoint == 'tablet' {
        @media (max-width: 1080px) { @content; }
    } 
    @if $breakpoint == 'desktop' {
        @media (max-width: 1130px) { @content; }
    }
    @else {
        @media (max-width: $breakpoint) { @content; }
    }
}

@mixin glow-effect() {
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content: '';
        position: absolute;
        min-width: 180px;
        width: 20%;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        z-index: -1;
        background: #0076BF;
        filter: blur(115px);
    }
}
@mixin glow-effect-s() {
    &::after {
        content: '';
        position: absolute;
        margin-top: 72.3px;
        width: 100%;
        height: 24px;
        align-self: center;
        background: #0076BF;
        filter: blur(115px);
        
    }
}