// Colors
$primary: #05C45B;
$secondary: #0076BF;
$bg-1: #091015;
$bg-2: #0D1C26;
$bg-3: rgba(#0D1C26, 0.2); 
$bg-4: rgba(#0D1C26, 0.8); 
$p-color: #999999;
$p-m-color: #7795A8;
$h2-color: #BFCDD5;
$title-color: #E5E5E5;

// Sizes
$xs: .75rem;
$s: .875rem;
$regular: 1rem;
$m: 1.5rem;
$l: 2rem;
$xl: 3rem;
$xxl: 3.5rem;
// Border radius
$border-r-s: 4px;
$border-r-regular: 8px; 