@use 'src/sass/variables' as v;

.card {
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    border-radius: v.$border-r-regular;
    border: 1px solid var(--border-color);
    background-color: var(--bg-2);
}

.icon {
    font-size: 48px;
    padding: 2rem;
    border-radius: v.$border-r-s;
    background-color: var(--bg-3);
    color: var(--primary);
    line-height: 0;
    align-self: self-start;
}

.textContent {
    max-width: 340px;
}