@use 'src/sass/mixins' as m;
@use 'src/sass/variables' as v;

.section.testimonials {
    .grid-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
         
        @include m.respond-to('tablet') {
            grid-template-columns: repeat(2, 1fr);
        }
        @include m.respond-to(760px) {
            grid-template-columns: 1fr;
        }
    }
}